.colorchange{color: brown;font-family: monospace;font-size: 12px;word-spacing: normal;line-height: 15px;}
#ayush{color: darkred;
	background-color: yellow;
	font-style: italic;
	text-decoration:none;
}